__pycache__/
*.py[cod]

.conda/
.venv/
pyqsofit_env/
.ipynb_checkpoints/

dustmaps_data/
forced_photometry_requests/
formirandaandmaddy/
FPofpossibleCLAGN/
PyQSOFit/
pyqsofit_runs/
SEM1 WORK/
Unused/

.DS_Store
